@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/

html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  font-family: "Noto Sans Mono", monospace;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

li {
  list-style: none;
}

p {
  max-width: 60ch;
}

.home {
  margin: 20px;
}

.header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #60ab9a;
}

.header nav ul li {
  display: inline-block;
  margin-left: 2rem;
}

.header nav {
  margin-left: auto;
}

.header {
  margin: auto 20px;
  padding: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(0deg 0% 0% / 0.2);
}

.bucket {
  padding: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  flex-basis: 520px;
  border-radius: 4px;
}

.buckets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.register form {
  max-width: 420px;
  margin: 0 auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .register form {
    max-width: 280px;
  }
}

.register {
  margin: 50px auto;
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.register form input[type="text"],
.register form input[type="password"] {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  font-size: 16px;
  padding: 0.25em 0.5em;
  display: block;
  width: 100%;
  border-radius: 4px;
}

form input[type="text"],
form input[type="password"] {
  border: 2px solid #8b8a8b;
}

.register form button {
  margin-top: 20px;
}

.home button {
  margin: 10px 0;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-height: 44px;
  cursor: pointer;
  border: none;
  background-color: #60ab9a;
  text-align: center;
  line-height: 1.1;
  color: inherit;
}

.main-button {
  min-width: 10ch;
}

.create {
  margin: 20px;
}

.create form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.create form label {
  margin-bottom: 10px;
}

.create form button {
  margin-top: 20px;
}

.checkbox {
  cursor: pointer;
  font-family: inherit;
  line-height: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  user-select: none;
}

.checkbox + .checkbox {
  margin-top: 1em;
}

.checkbox input[type="text"]:focus {
  outline-color: #60ab9a;
}

input[type="checkbox"] {
  accent-color: #60ab9a;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
